.leaflet-container {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 60;
    left: 0;
}

.event_list {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 76%;
}

.float-left {
    float: left;
    margin: 10px;
}

.description {
    font-size: 0.8em;
    width: 550px;
}

.color-map {
    margin-top: -10;
    font-size: 0.8em;
    margin-left: 0;
    margin-right: 0;
    padding-right: 4;
    background-color: lightgray;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}