{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% load static %}
    <script src="{% static 'garbage_map/app.js' %}"></script>
</head>

{% leaflet_map "yourmap" %}
<script>
    window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        let collector = new RoiCollector(map);
        {% for polygon in polygons %}
            {% if polygon.geometry == 'Polygon' %}
                poly = collector.displayPolygon({{ polygon.points }});
            {% else %}
                poly = collector.displayPolyLine({{ polygon.points }});
            {% endif %}
            poly.bindPopup(`<ul>
                            <li>{{ polygon.osm }}</li>
                            <li>Event info</li>
                            <li>Other event info</li>
                            </ul>`);
        {% endfor %}
        collector.centerMap();
});
</script>