{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% load static %}
    <script src="{% static 'garbage_map/app.js' %}"></script>
</head>

{% leaflet_map "yourmap" %}
<script>
    window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        let collector = new RoiCollector(map);
        {% for polygon in polygons %}
            {% if polygon.geometry == 'Polygon' %}
                collector.displayPolygon({{ polygon.points }});
            {% else %}
                collector.displayPolyLine({{ polygon.points }})
            {% endif %}
        {% endfor %}
        collector.centerMap();
});
</script>